<table class="table">
    <thead>
    <tr>
        <th>Wetter</th>
        <th>Temperatur</th>
        <th>Wind</th>
        <th>Luftdruck</th>
    </tr>
    </thead>
    <tbody>
        {{#each readings}}
            <tr>
                <td>{{wetter}}</td>
                <td>{{temperatur}}</td>
                <td>{{wind}}</td>
                <td>{{luftdruck}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>