{{> welcomemenu }}

<div class="row">
    <div class="col-6">
        <img src="img/weather-icon.jpg" alt="A List of different weather symbols" style="max-width: 100%;"/>
    </div>
    {{> login}}
</div>
